## List - Collection of values.  Mutable

In [10]:
names = ['Daniel', 'Roxanna', 'Jean']

print(names)

['Daniel', 'Roxanna', 'Jean']

In [11]:
#Use indexing to access an element in the list.
#Python uses 0-based indexing (1st element in position 0)

names[0]

'Daniel'

In [12]:
names[1]

'Roxanna'

In [13]:
names[2]

'Jean'

In [14]:
#names[3]

In [15]:
#len function returns size of list
len(names)

3

In [16]:
#get last element using len
names[len(names)-1]

'Jean'

In [17]:
names[-1]

'Jean'

In [18]:
names[-2]

'Roxanna'

In [19]:
#updating an element
names[0] = 'Danny'

In [20]:
names

['Danny', 'Roxanna', 'Jean']

In [21]:
a=5
b=7
print(a,b)

5 7

In [22]:
#swap 2 variables requires a tmp
tmp=a
a=b
b=tmp
print(a,b)

7 5

In [23]:
#swapping requires a temporary variable
tmp=names[1]
names[1] = names[2]
names[2] = tmp

names

['Danny', 'Jean', 'Roxanna']

In [24]:
#once the list is created, can't use indexing to add items

#names[3] = 'Fred'

In [25]:
#use the append function to add an item
names.append('Fred')
names

['Danny', 'Jean', 'Roxanna', 'Fred']

In [26]:
#pop(i) removes element  at index i

names.pop(1)  #remove Jean.  pop returns element that was removed
names

['Danny', 'Roxanna', 'Fred']

In [27]:
#pop(i) error if index out of range
#names.pop(10)

In [28]:
names

['Danny', 'Roxanna', 'Fred']

In [29]:
names.pop(-1)  #remove last

'Fred'

In [30]:
names

['Danny', 'Roxanna']

In [31]:
names.append('Bob')
names.append('Fred')
names.append('Bob')

names

['Danny', 'Roxanna', 'Bob', 'Fred', 'Bob']

In [32]:
#indexing using a range  [start inclusive, end exclusive]
names[0:3]

['Danny', 'Roxanna', 'Bob']

In [33]:
#indexing using a range  [start inclusive, end exclusive]
names[3:len(names)]

['Fred', 'Bob']

In [34]:
names[3:]

['Fred', 'Bob']

In [36]:
names[0:-1]  #all but last

['Danny', 'Roxanna', 'Bob', 'Fred']

In [37]:
names[0:-3]  #all but last 3

['Danny', 'Roxanna']

In [41]:
names[0:len(names):2]   #stride. every 2nd element

['Danny', 'Bob', 'Bob']

In [43]:
names[4:0:-1]

['Bob', 'Fred', 'Bob', 'Roxanna']

In [ ]:
#remove first occurrence of Bob
names.remove('Bob')

names

In [ ]:
names.count('Bob')

In [ ]:
names.count('Fred')

In [ ]:
names.count('Freddy')

In [ ]:
names.index('Bob')

In [ ]:
names.index('Fred')  #returns first occurrence

In [ ]:
#names.index('Freddy')  #returns first occurrence

In [1]:
grades = [89, 67, 95, 78]

grades

[89, 67, 95, 78]

In [ ]:
min(grades)

In [ ]:
max(grades)

In [ ]:
sum(grades)

In [ ]:
#average

sum(grades)/len(grades)

In [2]:
grades2 = [88,66,99,55]
grades2

[88, 66, 99, 55]

In [3]:
allgrades = grades + grades2
allgrades

[89, 67, 95, 78, 88, 66, 99, 55]

In [4]:
sports=['football','volleyball','soccer']
sports

['football', 'volleyball', 'soccer']

In [5]:
more_sports = ['golf','swimming','wrestling']
more_sports

['golf', 'swimming', 'wrestling']

In [6]:
#add items from more_sports onto end of sports
sports.extend(more_sports)
sports

['football', 'volleyball', 'soccer', 'golf', 'swimming', 'wrestling']

In [ ]:
#insert an item before item at specified index
sports.insert(2,'baseball')
sports

In [ ]:
sports.sort()
sports

In [ ]:
sports.reverse()
sports

## Looping through a list

In [ ]:
names = ['Ann','Amir','Jose','DeWayne']
for name in names:
  print('Hi {}!'.format(name))

In [ ]:
#we can also use explicit indexing

for i in range(len(names)):
    print('index#{} = {}'.format(i,names[i]))

In [ ]:
#go through a list backward

for i in range(len(names)-1, -1, -1):
    print('index#{} = {}'.format(i,names[i]))

In [ ]:
for name in reversed(names):
    print(name)

In [ ]:
grades = [88,72,56,99, 59]
count=0
#count grades below 80
for grade in grades:
    if grade <80:
        count += 1
        
print(count)

In [ ]:
#Ask the user for 5 numbers, storing them in a list.

nums = []  #empty list
for i in range(5):
    next_num = int(input('enter next number:'))
    nums.append(next_num)  #must use append to add element

print(nums)

In [ ]:
#Loop until sentinel (stopping value) entered

nums = []  #empty list
val = int(input('enter number (-999 to quit):'))
while val != -999:
    nums.append(val)  
    val = int(input('enter number (-999 to quit):'))

print(nums)

In [ ]:
#pass array as a parameter to function
def sum_positive(num_list):
    sum=0
    for n in num_list:
        if n > 0:
            sum += n
    return sum

list1 = [1,4,-2,-7,3]
assert( sum_positive(list1) == 8)

assert( sum_positive([-2, -5, 4, 3, -1, 10]) == 17)

In [ ]:
def double_it(list):
    for i in range(len(list)):
        list[i] *= 2
    return list

nums_1 = [7,2,5]
nums_2 = [2,3,2, 2,-6,13]

print(double_it(nums_1))
print(double_it(nums_2))

In [ ]:
def multiply_values(list1, list2):
    mult_list = [] #create new empty list
    if len(list1) == len(list2):
        for i in range(len(list1)):
            mult_list.append( list1[i] * list2[i] )
    return mult_list

nums_1 = [7,2,5]
nums_2 = [2,3,2]

print(multiply_values(nums_1, nums_2))

In [ ]:
#modifying elements of a list, curve all grades below 90
#THIS WON'T WORK BECAUSE NEED TO KNOW POSITION OF ELEMENT

grades = [88,66,99,78,92]

#grade is a temporary variable that has a COPY of the list element
#grade does not directly reference the list element
for grade in grades: 
    if grade < 90:
        grade+= 5   #does not change array element

print(grades)

In [ ]:
#must use indexing to modify a list element

grades = [88,66,99,78,92]

#curve all grades below 90 by 5 points
for i in range(len(grades)): 
    if grades[i] < 90:
        grades[i] = grades[i] + 5

print(grades)

In [ ]:
#enumerate

grades = [88,66,99,78,92]

for pos, grade in enumerate(grades):
    print(pos, grade)

In [ ]:
#enumerate

grades = [88,66,99,78,92]

#you can use an enumerator to modify list contents
for pos, grade in enumerate(grades):
    #print(pos, grade)
    if grade < 90:
        grades[pos] = grades[pos] + 5
        
grades

In [ ]:
phrase = 'Hi my name is Fred'
phrase
words = phrase.split()  #split on space
words
words[0]
for word in words:
    print(word)
    
    
reportcard = 'a,b,b+,a-,b,c+'
reportcard
grades = reportcard.split(',')
grades
for grade in grades:
    print(grade)

In [4]:
val=7
type(val)

int

In [9]:
nums=[]
response = input('enter an integer(q to quit):')
while response != 'q':
    if response.isdigit():
        next_num = int(response)
        nums.append(next_num)
    else:
        print(response,'is not an integer')
    response = input('enter number(q to quit):')
print(nums)

enter an integer(q to quit):5
enter number(q to quit):3
enter number(q to quit):-4
-4 is not an integer
enter number(q to quit):5.2
5.2 is not an integer
enter number(q to quit):q
[5, 3]