In [ ]:
#Zybooks section 8.5 - Nested lists

In [ ]:
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]
print('First nested list:')  #row 0, fred's grades
print('Second nested list:') #row 1, pat's grades
print('Element 0 of first nested list:') #row 0 col 0
print('Element 1 of first nested list:') #row 0 col 1
print('Element 0 of second nested list:') #row 1 col 0
print('Element 1 of second nested list:') #row 1 col 1

print()  #number of rows
print() #number of columns in row 0
print() #number of columns in row 1

#CHALLENGE: print bob's grade on 1st test.   Bob's grade on last test. 
print()

#CHALLENGE: What is printed by grade_list[1][2]? How about grade_list[2][1]?

In [ ]:

currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]

print(currency)
#CHALLENGE: print the Euros equivalent for 10.0 US Dollars.
print('{} US Dollars = {} Euros'.format())
#Print the British pounds equivalent for 1.00 US Dollars.
print('{} US Dollars = {} British Pounds'.format()


#CHALLENGE: print the entire row for British pounds
print()

#CHALLENGE: How would you print the number of rows? How about number of cells in first row?
print('{} rows'.format()
print('{} columns'.format()

In [ ]:
#Looping through nested list using indexing.  
currency = [
        [1.00, 5.00, 10.00], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]

In [ ]:
#CHALLENGE: Print the grade list in a row/column format with a field width of 4 since 100 is largest grade.
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

In [ ]:
#CHALLENGE: Add 5 points to each grade, max grade of 100
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

In [ ]:
#Non index-based loop 
#This works as long as you don't want to change list contents
currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]

In [ ]:
#CHALLENGE: Non index-based loop through the grades
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

In [ ]:
#CHALLENGE: Average of all grades

grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

In [ ]:

grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

In [ ]:
#Matrix - all rows have same number of columns

def average(matrix):

matrix1 = [ [1,2,3],[4,5,6]]
print( average(matrix1))

matrix2 = [ [2,8,10,12],[2,2,2,2],[2,2,2,2]]
print( average(matrix2))

In [ ]:
#Matrix - all rows have same number of columns


matrix1 = [ [1,2,3],[4,5,6]]
print( find_max(matrix1))

matrix2 = [ [2,8,10,12],[2,2,2,2],[2,2,2,2]]
print( find_max(matrix2))

In [ ]:
#Matrix - all rows have same number of columns

            
matrix1 = [ [1,2,3],[4,5,6]]
multiply(matrix1, 4)
print(matrix1)

In [ ]:
# direct driving distances between cities, in miles
# 0: Boston    1: Chicago    2: Los Angeles

distances = [
    [
        0,  
        960,  # Boston-Chicago
        2960 # Boston-Los Angeles
    ],
    [
        960,  # Chicago-Boston
        0,
        2011  # Chicago-Los Angeles
    ],
    [
        2960,  # Los Angeles-Boston
        2011,  # Los-Angeles-Chicago
        0
    ]
]

user_input = input('Enter city pair (Ex: 1 2) -- ').strip()
input_list= user_input.split()  #
print(input_list)
city1=int(input_list[0])
city2=int(input_list[1])

print('Distance: {} miles'.format(distances[city1][city2]))

In [ ]:
# direct driving distances between cities, in miles
# 0: Boston    1: Chicago    2: Los Angeles

city_names = ['Boston','Chicago','LosAngeles']


distances = [
    [
        0,  
        960,  # Boston-Chicago
        2960 # Boston-Los Angeles
    ],
    [
        960,  # Chicago-Boston
        0,
        2011  # Chicago-Los Angeles
    ],
    [
        2960,  # Los Angeles-Boston
        2011,  # Los Angeles-Chicago
        0
    ]
]

user_input = input('Enter city name pair (Ex: Chicago LosAngeles) -- ').strip()
input_list= user_input.split()
print(input_list)
city1=city_names.index(input_list[0])
city2=city_names.index(input_list[1])


print('Distance: {} miles'.format(distances[city1][city2]))