In [1]:
#Zybooks section 8.5 - Nested lists

In [2]:
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]
print('First nested list:', grade_list[0])  #row 0, fred's grades
print('Second nested list:', grade_list[1]) #row 1, pat's grades
print('Element 0 of first nested list:', grade_list[0][0]) #row 0 col 0
print('Element 1 of first nested list:', grade_list[0][1]) #row 0 col 1
print('Element 0 of second nested list:', grade_list[1][0]) #row 1 col 0
print('Element 1 of second nested list:', grade_list[1][1]) #row 1 col 1

print(len(grade_list))  #number of rows
print(len(grade_list[0])) #number of columns in row 0
print(len(grade_list[1])) #number of columns in row 1

#CHALLENGE: print bob's grade on 1st test.   Bob's grade on last test. 
print(grade_list[2][0])

#CHALLENGE: What is printed by grade_list[1][2]? How about grade_list[2][1]?

First nested list: [90, 87, 92, 82]
Second nested list: [72, 97, 84, 94]
Element 0 of first nested list: 90
Element 1 of first nested list: 87
Element 0 of second nested list: 72
Element 1 of second nested list: 97
3
4
4
70

In [3]:

currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]

print(currency)
#CHALLENGE: print the Euros equivalent for 10.0 US Dollars.
print('{} US Dollars = {} Euros'.format(currency[0][2],currency[1][2]))
#Print the British pounds equivalent for 1.00 US Dollars.
print('{} US Dollars = {} British Pounds'.format(currency[0][0],currency[2][0]))


#CHALLENGE: print the entire row for British pounds
print(currency[2])

#CHALLENGE: How would you print the number of rows? How about number of cells in first row?
print('{} rows'.format(len(currency)))
print('{} columns'.format(len(currency[0])))

[[1.0, 5.0, 10.0], [0.75, 3.77, 7.53], [0.65, 3.25, 6.5]]
10.0 US Dollars = 7.53 Euros
1.0 US Dollars = 0.65 British Pounds
[0.65, 3.25, 6.5]
3 rows
3 columns

In [3]:
currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]

print(currency)
#CHALLENGE: print the Euros equivalent for 10.0 US Dollars.
print('{} US Dollars = {} Euros'.format(currency[0][2],currency[1][2]))
#Print the British pounds equivalent for 1.00 US Dollars.
print('{} US Dollars = {} British Pounds'.format(currency[0][0],currency[2][0]))


#CHALLENGE: print the entire row for British pounds
print(currency[2])

#CHALLENGE: How would you print the number of rows? How about number of cells in first row?
print('{} rows'.format(len(currency)))
print('{} columns'.format(len(currency[0])))

[[1.0, 5.0, 10.0], [0.75, 3.77, 7.53], [0.65, 3.25, 6.5]]
10.0 US Dollars = 7.53 Euros
1.0 US Dollars = 0.65 British Pounds
[0.65, 3.25, 6.5]
3 rows
3 columns

In [4]:
#Looping through nested list using indexing.  
currency = [
        [1.00, 5.00, 10.00], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]
for r in range(len(currency)):
    for c in range(len(currency[r])):
        print('{:8.4f}'.format(currency[r][c]), end='') #field width 8, 4 digits total
    print()

  1.0000  5.0000 10.0000
  0.7500  3.7700  7.5300
  0.6500  3.2500  6.5000

In [5]:
#CHALLENGE: Print the grade list in a row/column format with a field width of 4 since 100 is largest grade.
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

for r in range(len(grade_list)):
    for c in range(len(grade_list[r])):
        print('{:4}'.format(grade_list[r][c]), end='')
    print()

  90  87  92  82
  72  97  84  94
  70  85 100  77

In [6]:
#CHALLENGE: Add 5 points to each grade, max grade of 100
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

for r in range(len(grade_list)):
    for c in range(len(grade_list[r])):
        #grade_list[r][c] += 5
        grade_list[r][c] = min(100, grade_list[r][c] + 5)
        print('{:4}'.format(grade_list[r][c]), end='')
    print()

  95  92  97  87
  77 100  89  99
  75  90 100  82

In [7]:
#Non index-based loop 
#This works as long as you don't want to change list contents
currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]
for row in currency:
    for cell in row:
        print('{:6}'.format(cell), end='')
    print()

   1.0   5.0  10.0
  0.75  3.77  7.53
  0.65  3.25   6.5

In [8]:
#CHALLENGE: Non index-based loop through the grades
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

for row in grade_list:
    for cell in row:
        print('{:6}'.format(cell), end='')
    print()

    90    87    92    82
    72    97    84    94
    70    85   100    77

In [9]:
#CHALLENGE: Average of all grades

grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

total = 0
count = 0
for row in grade_list:
    for cell in row:
        total += cell
        count += 1
print('{:2f}'.format(total/count))

85.833333

In [10]:

grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

total = 0
count = 0

for row in grade_list:
    total += sum(row)
    count += len(row)
    
print(total/count)

85.83333333333333

In [11]:
#Matrix - all rows have same number of columns

def average(matrix):
    num_rows=len(matrix)
    num_cols=len(matrix[0])  #get the length of first row
    num_cells=num_rows*num_cols
    sum=0
    for row in matrix:
        for cell in row:
            sum += cell
    return sum/num_cells

matrix1 = [ [1,2,3],[4,5,6]]
print( average(matrix1))

matrix2 = [ [2,8,10,12],[2,2,2,2],[2,2,2,2]]
print( average(matrix2))

3.5
4.0

In [12]:
#Matrix - all rows have same number of columns

def find_max(matrix):
    max=matrix[0][0] # initialize to first cell
    for row in matrix:
        for cell in row:
            if cell > max:
                max = cell
    return max

matrix1 = [ [1,2,3],[4,5,6]]
print( find_max(matrix1))

matrix2 = [ [2,8,10,12],[2,2,2,2],[2,2,2,2]]
print( find_max(matrix2))

6
12

In [13]:
#Matrix - all rows have same number of columns

def multiply(matrix, n):
    max=matrix[0][0] # initialize to first cell
    for r in range(len(matrix)):
        for c in range(len(matrix[r])):
            matrix[r][c] *= n

            
matrix1 = [ [1,2,3],[4,5,6]]
multiply(matrix1, 4)
print(matrix1)

[[4, 8, 12], [16, 20, 24]]

In [14]:
# direct driving distances between cities, in miles
# 0: Boston    1: Chicago    2: Los Angeles

distances = [
    [
        0,  
        960,  # Boston-Chicago
        2960 # Boston-Los Angeles
    ],
    [
        960,  # Chicago-Boston
        0,
        2011  # Chicago-Los Angeles
    ],
    [
        2960,  # Los Angeles-Boston
        2011,  # Los-Angeles-Chicago
        0
    ]
]

user_input = input('Enter city pair (Ex: 1 2) -- ').strip()
input_list= user_input.split()  #
print(input_list)
city1=int(input_list[0])
city2=int(input_list[1])

print('Distance: {} miles'.format(distances[city1][city2]))

Enter city pair (Ex: 1 2) -- 1 2
['1', '2']
Distance: 2011 miles

In [15]:
# direct driving distances between cities, in miles
# 0: Boston    1: Chicago    2: Los Angeles

city_names = ['Boston','Chicago','LosAngeles']


distances = [
    [
        0,  
        960,  # Boston-Chicago
        2960 # Boston-Los Angeles
    ],
    [
        960,  # Chicago-Boston
        0,
        2011  # Chicago-Los Angeles
    ],
    [
        2960,  # Los Angeles-Boston
        2011,  # Los Angeles-Chicago
        0
    ]
]

user_input = input('Enter city name pair (Ex: Chicago LosAngeles) -- ').strip()
input_list= user_input.split()
print(input_list)
city1=city_names.index(input_list[0])
city2=city_names.index(input_list[1])


print('Distance: {} miles'.format(distances[city1][city2]))

Enter city name pair (Ex: Chicago LosAngeles) -- Chicago LosAngeles
['Chicago', 'LosAngeles']
Distance: 2011 miles

In [1]:
#Return a list of the number of symptoms for each patient in symptoms.
    
def symptom_count(patient_symptom_list):
    result = []
    for patient in patient_symptom_list:
        result.append(len(patient))
    return result

patient_symptom_list = [
    ['fatique', 'abdominal swelling', 'bruising'],   #first patient
    ['loss of appetite', 'fatique']    #second patient
]

assert(symptom_count(patient_symptom_list)  == [3,2])
print('tests passed')

In [12]:
patients = [ ['Milos', 'Jones', 48, 'male', 'smoker', 210], 
             ['Delia', 'Chan', 39, 'female', 'non-smoker', 170], 
             ['Denise', 'Ross', 62, 'female', 'non-smoker', 150] ]

#create list of names of female patients
female_patients = []
for patient in patients:
    if patient[3] == 'female':
        female_patients.append(patient[1])

print(female_patients)

['Chan', 'Ross']

In [7]:
tictactoe = [
    ['0', '0', '0'],
    ['0', '0', '0'],
    ['0', '0', '0'],
]

tictactoe[0][1] = 'X'
tictactoe[1][1] = 'X'
tictactoe[2][1] = 'X'
    
print(tictactoe)

[['0', 'X', '0'], ['0', 'X', '0'], ['0', 'X', '0']]

In [5]:
tictactoe = [
    ['0', '0', '0'],
    ['0', '0', '0'],
    ['0', '0', '0'],
]


for r in range(len(tictactoe)):
    tictactoe[r][1] = 'X'
    
print(tictactoe)

[['0', '0', '0'], ['0', '0', '0'], ['0', '0', '0']]
[['0', 'X', '0'], ['0', 'X', '0'], ['0', 'X', '0']]

In [3]:
tictactoe = [
    ['0', '0', '0'],
    ['0', '0', '0'],
    ['0', '0', '0'],
]


for row in tictactoe:
    row[1] = 'X'
    
print(tictactoe)

[['0', '0', '0'], ['0', '0', '0'], ['0', '0', '0']]
[['0', 'X', '0'], ['0', 'X', '0'], ['0', 'X', '0']]

In [9]:
tictactoe = [
    ['0', '0', '0'],
    ['0', '0', '0'],
    ['0', '0', '0'],
]


for r in range(len(tictactoe)):
    for c in range(len(tictactoe[r])):
        if r == c:
            tictactoe[r][c] = 'X'
    
print(tictactoe)

[['0', '0', '0'], ['0', '0', '0'], ['0', '0', '0']]
[['X', '0', '0'], ['0', 'X', '0'], ['0', '0', 'X']]

In [14]:
name = 'Fred Herbert Smith'
name_list = name.split() #space delimeter
print(name_list)

num_str = '3,55,78,99'
num_str_list = num_str.split(',')
print(num_str_list)

num_int_list = list(map(int, num_str_list))
print(num_int_list)

['Fred', 'Herbert', 'Smith']
['3', '55', '78', '99']
[3, 55, 78, 99]