In [ ]:
#Zybooks section 8.5 - Nested lists

In [ ]:
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]
print('First nested list:', grade_list[0])  #row 0
print('Second nested list:', grade_list[1]) #row 1
print('Element 0 of first nested list:', grade_list[0][0]) #row 0 col 0
print('Element 1 of first nested list:', grade_list[0][1]) #row 0 col 1
print('Element 0 of second nested list:', grade_list[1][0]) #row 1 col 0
print('Element 1 of second nested list:', grade_list[1][1]) #row 1 col 1

print(len(grade_list))  #number of rows
print(len(grade_list[0])) #number of columns in row 0
print(len(grade_list[1])) #number of columns in row 1

#CHALLENGE: print bob's grade on 1st test.   Bob's grade on last test. 
print(grade_list[2][0])

#CHALLENGE: What is printed by grade_list[1][2]? How about grade_list[2][1]?

In [ ]:
currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]

print(currency)
#CHALLENGE: print the Euros equivalent for 10.0 US Dollars.
#Print the British pounds equivalent for 1.00 US Dollars.


#CHALLENGE: print the entire row for British pounds


#CHALLENGE: How would you print the number of rows? How about number of cells in first row?

In [ ]:
#Looping through nested list using indexing.  
currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]
for r in range(len(currency)):
    for c in range(len(currency[r])):
        print('{:8.4}'.format(currency[r][c]), end=' ') #field width 8, max 4 digits total
    print()

In [ ]:
#CHALLENGE: Print the grade list in a row/column format with a field width of 3 since 100 is largest grade.
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

for r in range(len(grade_list)):
    for c in range(len(grade_list[r])):
        print('{:3}'.format(grade_list[r][c]), end=' ')
    print()

In [ ]:
#CHALLENGE: Add 5 points to each grade
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

for r in range(len(grade_list)):
    for c in range(len(grade_list[r])):
        #grade_list[r][c] += 5
        grade_list[r][c] = min(100, grade_list[r][c] + 5)
        print('{:3}'.format(grade_list[r][c]), end=' ')
    print()

In [ ]:
#Non index-based loop 
#This works as long as you don't want to change list contents
currency = [
        [1.00, 5.00, 10.0], # US Dollars
        [0.75, 3.77, 7.53], # Euros
        [0.65, 3.25, 6.50]  # British pounds
]
for row in currency:
    for cell in row:
        print('{:6}'.format(cell), end=' ')
    print()

In [ ]:
#CHALLENGE: Non index-based loop through the grades
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

for row in grade_list:
    for cell in row:
        print('{:6}'.format(cell), end=' ')
    print()

In [55]:
#CHALLENGE: Average of all grades

grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

total = 0
count = 0
for row in grade_list:
    for cell in row:
        total += cell
        count += 1
print(total/count)

85.83333333333333

In [57]:
grade_list = [
        [90, 87, 92, 82],   #fred's grades
        [72, 97, 84, 94],   #pat's grades
        [70, 85, 100, 77]    #bob's grades
        ]

total = 0
count = 0

for row in grade_list:
    total += sum(row)
    count += len(row)
    
print(total/count)

AttributeError: 'list' object has no attribute 'sum'

In [ ]:
#Matrix - all rows have same number of columns

def average(matrix):
    num_rows=len(matrix)
    num_cols=len(matrix[0])  #get the length of first row
    num_cells=num_rows*num_cols
    sum=0
    for row in matrix:
        for cell in row:
            sum += cell
    return sum/num_cells

matrix1 = [ [1,2,3],[4,5,6]]
print( average(matrix1))

matrix2 = [ [2,8,10,12],[2,2,2,2],[2,2,2,2]]
print( average(matrix2))

In [ ]:
#Matrix - all rows have same number of columns

def find_max(matrix):
    max=matrix[0][0] # initialize to first cell
    for row in matrix:
        for cell in row:
            if cell > max:
                max = cell
    return max

matrix1 = [ [1,2,3],[4,5,6]]
print( find_max(matrix1))

matrix2 = [ [2,8,10,12],[2,2,2,2],[2,2,2,2]]
print( find_max(matrix2))

In [ ]:
#Matrix - all rows have same number of columns

def multiply(matrix, n):
    max=matrix[0][0] # initialize to first cell
    for r in range(len(matrix)):
        for c in range(len(matrix[r])):
            matrix[r][c] *= n

            
matrix1 = [ [1,2,3],[4,5,6]]
multiply(matrix1, 4)
print(matrix1)

In [ ]:
# direct driving distances between cities, in miles
# 0: Boston    1: Chicago    2: Los Angeles

distances = [
    [
        0,  
        960,  # Boston-Chicago
        2960 # Boston-Los Angeles
    ],
    [
        960,  # Chicago-Boston
        0,
        2011  # Chicago-Los Angeles
    ],
    [
        2960,  # Los Angeles-Boston
        2011,  # Los-Angeles-Chicago
        0
    ]
]

user_input = input('Enter city pair (Ex: 1 2) -- ').strip()
input_list= user_input.split()  #
print(input_list)
city1=int(input_list[0])
city2=int(input_list[1])

print('Distance: {} miles'.format(distances[city1][city2]))

In [ ]:
# direct driving distances between cities, in miles
# 0: Boston    1: Chicago    2: Los Angeles

city_names = ['Boston','Chicago','LosAngeles']


distances = [
    [
        0,  
        960,  # Boston-Chicago
        2960 # Boston-Los Angeles
    ],
    [
        960,  # Chicago-Boston
        0,
        2011  # Chicago-Los Angeles
    ],
    [
        2960,  # Los Angeles-Boston
        2011,  # Los Angeles-Chicago
        0
    ]
]

user_input = input('Enter city name pair (Ex: Chicago LosAngeles) -- ').strip()
input_list= user_input.split()
print(input_list)
city1=city_names.index(input_list[0])
city2=city_names.index(input_list[1])


print('Distance: {} miles'.format(distances[city1][city2]))