## List - Collection of values.  Mutable

In [ ]:
names = ['Daniel', 'Roxanna', 'Jean']

print(names)

In [ ]:
#Use indexing to access an element in the list.
#Python uses 0-based indexing (1st element in position 0)

names[0]

In [ ]:
names[1]

In [ ]:
names[2]

In [ ]:
#names[3]

In [ ]:
#len function returns size of list
len(names)

In [ ]:
#get last element using len
names[len(names)-1]

In [ ]:
#updating an element
names[0] = 'Danny'

In [ ]:
names

In [ ]:
#swapping requires a temporary variable
tmp=names[1]
names[1] = names[2]
names[2] = tmp

names

In [ ]:
#once the list is created, can't use indexing to add items

#names[3] = 'Fred'

In [ ]:
#use the append function to add an item
names.append('Fred')
names

In [ ]:
#pop(i) removes element  at index i

names.pop(1)  #remove Jean
names

In [ ]:
#pop(i) error if index out of range
#names.pop(10)

In [ ]:
names.append('Bob')
names.append('Fred')
names.append('Bob')

names

In [ ]:
#indexing using a range  [start inclusive, end exclusive]
names[0:3]

In [ ]:
#indexing using a range  [start inclusive, end exclusive]
names[3:len(names)]

In [ ]:
#remove first occurrence of Bob
names.remove('Bob')

names

In [ ]:
names.count('Bob')

In [ ]:
names.count('Fred')

In [ ]:
names.count('Freddy')

In [ ]:
names.index('Bob')

In [ ]:
names.index('Fred')  #returns first occurrence

In [ ]:
#names.index('Freddy')  #returns first occurrence

In [ ]:
grades = [89, 67, 95, 78]

grades

In [ ]:
min(grades)

In [ ]:
max(grades)

In [ ]:
sum(grades)

In [ ]:
#average

sum(grades)/len(grades)

In [ ]:
grades2 = [88,66,99,55]
grades2

In [ ]:
allgrades = grades + grades2
allgrades

In [ ]:
sports=['football','volleyball','soccer']
sports

In [ ]:
more_sports = ['golf','swimming','wrestling']
more_sports

In [ ]:
#add items from more_sports onto end of sports
sports.extend(more_sports)
sports

In [ ]:
#insert an item before item at specified index
sports.insert(2,'baseball')
sports

In [ ]:
sports.sort()
sports

In [ ]:
sports.reverse()
sports

## Looping through a list

In [ ]:
names = ['Ann','Amir','Jose','DeWayne']
for name in names:
  print('Hi {}!'.format(name))

In [ ]:
#we can also use explicit indexing

for i in range(len(names)):
    print('index#{} = {}'.format(i,names[i]))

In [ ]:
#go through a list backward

for i in range(len(names)-1, -1, -1):
    print('index#{} = {}'.format(i,names[i]))

In [ ]:
for name in reversed(names):
    print(name)

In [ ]:
grades = [88,72,56,99, 59]
count=0
#count grades below 80
for grade in grades:
    if grade <80:
        count += 1
        
print(count)

In [ ]:
#Ask the user for 5 numbers, storing them in a list.

nums = []  #empty list
for i in range(5):
    next_num = int(input('enter next number:'))
    nums.append(next_num)  #must use append to add element

print(nums)

In [ ]:
#Loop until sentinel (stopping value) entered

nums = []  #empty list
val = int(input('enter number (-999 to quit):'))
while val != -999:
    nums.append(val)  
    val = int(input('enter number (-999 to quit):'))

print(nums)

In [ ]:
#pass array as a parameter to function
def sum_positive(num_list):
    sum=0
    for n in num_list:
        if n > 0:
            sum += n
    return sum

list1 = [1,4,-2,-7,3]
assert( sum_positive(list1) == 8)

assert( sum_positive([-2, -5, 4, 3, -1, 10]) == 17)

In [ ]:
def double_it(list):
    for i in range(len(list)):
        list[i] *= 2
    return list

nums_1 = [7,2,5]
nums_2 = [2,3,2, 2,-6,13]

print(double_it(nums_1))
print(double_it(nums_2))

In [ ]:
def multiply_values(list1, list2):
    mult_list = [] #create new empty list
    if len(list1) == len(list2):
        for i in range(len(list1)):
            mult_list.append( list1[i] * list2[i] )
    return mult_list

nums_1 = [7,2,5]
nums_2 = [2,3,2]

print(multiply_values(nums_1, nums_2))

In [ ]:
#modifying elements of a list, curve all grades below 90
#THIS WON'T WORK BECAUSE NEED TO KNOW POSITION OF ELEMENT

grades = [88,66,99,78,92]

#grade is a temporary variable that has a COPY of the list element
#grade does not directly reference the list element
for grade in grades: 
    if grade < 90:
        grade+= 5   #does not change array element

print(grades)

In [ ]:
#must use indexing to modify a list element

grades = [88,66,99,78,92]

#curve all grades below 90 by 5 points
for i in range(len(grades)): 
    if grades[i] < 90:
        grades[i] = grades[i] + 5

print(grades)

In [ ]:
#enumerate

grades = [88,66,99,78,92]

for pos, grade in enumerate(grades):
    print(pos, grade)

In [ ]:
#enumerate

grades = [88,66,99,78,92]

#you can use an enumerator to modify list contents
for pos, grade in enumerate(grades):
    #print(pos, grade)
    if grade < 90:
        grades[pos] = grades[pos] + 5
        
grades

In [ ]:
phrase = 'Hi my name is Fred'
phrase
words = phrase.split()  #split on space
words
words[0]
for word in words:
    print(word)
    
    
reportcard = 'a,b,b+,a-,b,c+'
reportcard
grades = reportcard.split(',')
grades
for grade in grades:
    print(grade)

## Tuples - Immutable

In [ ]:
#create tuple using () rather than []
xy_coord = (100, 50)

xy_coord

In [ ]:
xy_coord[0]

In [ ]:
xy_coord[1]

In [ ]:
len(xy_coord)

In [ ]:
#error, can't modify tuple element
#xy_coord[0] = 90

In [ ]:
min(xy_coord)

In [ ]:
max(xy_coord)

In [ ]:
#error, tuple is immutable
#xy_coord.append(5)

## Named Tuples - Access elements by name instead of indexing

In [ ]:
#make, model, price, horsepower,seats
chevy_blazer = ('Chevrolet', 'Blazer', 32000, 275, 8)  
chevy_impala = ('Chevrolet', 'Impala', 37495, 305, 5)  

print(chevy_blazer)
print(chevy_impala)

In [ ]:
#need to access elements using indexing

chevy_blazer[2]  #price

In [ ]:
#add the prices
chevy_blazer[2] + chevy_impala[2]

In [ ]:
#compare the prices
chevy_blazer[2] < chevy_impala[2]

In [ ]:
#A named tuple lets you access elements using a name rather than index

In [ ]:
from collections import namedtuple

Car = namedtuple('Car', ['make','model','price','horsepower','seats'])  # Create the named tuple

chevy_blazer = Car('Chevrolet', 'Blazer', 32000, 275, 8)  # Use the named tuple to describe a car
chevy_impala = Car('Chevrolet', 'Impala', 37495, 305, 5)  # Use the named tuple to describe a different car

print(chevy_blazer)
print(chevy_impala)

In [ ]:
#use . instead of [] 
chevy_blazer.price

In [ ]:
chevy_blazer.price + chevy_impala.price

In [ ]:
chevy_blazer.price < chevy_impala.price